.App-header {
  margin: 30px auto;
}

.App-header .App-logo {
  max-width: 50px;
  display: inline-block;
  margin-top: -30px;
  margin-right: 5px;
}
.App-header .logoText {
  display: inline-block;
  color: rgb(96, 195, 231);
}
.App-footer {
  color: rgb(220, 217, 217);
  font-size: 12px;
  margin: 10px;
  padding: 10px;
}
.App-footer a {
  color: rgb(96, 195, 231);
}
