body {
  margin: 50px auto;
  padding: 20px;
}

.Dictionary {
  color: white;
  margin: 0 auto;
  padding: 10px;
}

.Dictionary .form-submit {
  padding: 2px 15px;
}

.word {
  text-transform: capitalize;
}

.synonym {
  display: inline;
}

.phonetics {
  display: inline;
}
